.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.nav-list {
  list-style: none;
}

.nav-list li {
  display: inline-block;
}

.nav-list li a {
  margin: 10px;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  background-color: #444851;
  position: relative;
}

.nav-list li a:hover {
  background-color: #63676f;
}

.nav-list li:hover {
  .nav-drop-down li {
    display: block;
  }
}

.nav-drop-down {
  position: absolute;
  padding: 0;
  text-align: left;
}

.nav-drop-down li {
  display: none;
  margin-top: 20px;
}